.search-form {
  background-color: #7F7F7F;
}

#body {
  padding: 75px 50px 50px 50px;
  background-color: #7F7F7F;
}



.hotel-card-icon {
  position: absolute;
  top: -60px;
}

.card-heading-height {
  height: 60px;
}

.my-footer{
  padding: 100px;
}


.picture{
  height: 500px;
}
